@charset "UTF-8";

/*INTRODUÇÃO*/
main{
    padding-top: 8em;
}
main > section#introducion{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
main > section#introducion > section{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
main > section#introducion > img{
    display: block;
    margin: auto;
    height: 280px;width: 280px;
    border: 2px solid var(--color_main);
    border-radius: 50%;
    animation: pain 1.5s infinite;
}
main > section#introducion  article#text{
    margin-top: 10px;
    text-align: center;
    color: var(--color_ligth);
}
main > section#introducion  article#text > h3 > span{
    font-weight: bolder;
    font-size: 18px;
}
main > section#introducion  article#social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 5px;
}
main > section#introducion article#social > a > img{
    width: 30px;
    height: 30px;
    margin: 5px 0px;
    border-radius: 50%;
}
main > section#introducion > section >  a{
    align-content: center;
    margin: auto;
    padding: 15px;
    max-width: 140px;
    border-radius: 35px;
    line-height: 50%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--color_second);
    background-color: var(--color_main);
}
main > section#introducion  a > p{
    display: inline;
}

/*ABOUT ME, SKILLS, PROJECTS AND CONTACT*/
main > section#about,section#skills,section#projects,section#contact,main > section#about > section{
    margin-top: 25px;
    border-radius: 10px;
}
main > section#about > h2,section#skills > h2,section#projects > h2, section#contact > h2 {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color_main);
}

/*ABOUT ME*/
main > section#about{
    color: var(--color_ligth);
}
main > section#about > section{
    padding: 15px;
    background: var(--color_main);
    animation: pain 1.2s infinite;
}
main > section#about > section > article#more_content{
    display: none;
}

main > section#about > section > div#show{
    width: 100%;
    height: 35px;
}
main > section#about > section > div#show > img{
    display: block;
    margin: auto;
}
main > section#about > section > div#show > img#hide{
    display: none;
}

/*SKILLS*/
main > section#skills{
    background: transparent;
}
main > section#skills > section.table{
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    justify-content: space-evenly;
}
main > section#skills > section.table > article{
    width: 280px;
    cursor: pointer;
}
main > section#skills > section.table > article > img{
    display: block;
    margin: auto;
}
main > section#skills > section.table > article > h3{
    font-size: 20px;
    text-align: center;
}
main > section#skills > section.table > article > p{
    font-family: var(--font_second);
}
main > section#skills > section.table > article > a{
    background-color: var(--color_main);
    color: var(--color_second);
}
main > section#skills > section.table > article > p{color: var(--color_ligth);}
main > section#skills > section.table > article > p,a{
    font-size: 17px;
    text-align: center;
}

/*PROJECTS*/
main > section#projects{
    background: transparent;
}
main > section#projects > section.table > article{
    width: 95%;
    margin: auto;
}
main > section#projects > section.table > article > h3{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}
main > section#projects > section.table > article > img{
    display: block;
    margin: auto;
    width: 95%;
    border-radius: 5px;
}