@charset "UTF-8";

/*INTRODUÇÃO*/
main{
    padding-top: 8em;
}
main > section#introducion{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
main > section#introducion > section{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
main > section#introducion > img{
    display: block;
    margin: auto;
    border: 2px solid var(--color_main);
    border-radius: 50%;
    animation: pain 1.5s infinite;
}
main > section#introducion  article#text{
    margin-top: 10px;
    text-align: center;
    color: var(--color_ligth);
}
main > section#introducion  article#text > h3 > span{
    font-weight: bolder;
    font-size: 18px;
}
main > section#introducion  article#social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 5px;
}
main > section#introducion article#social > a > img{
    width: 30px;
    height: 30px;
    margin: 5px 0px;
    border-radius: 50%;
}
main > section#introducion > section >  a{
    align-content: center;
    margin: auto;
    width: 130px;
    height: 40px;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--color_second);
    background-color: var(--color_main);
}
main > section#introducion  a > p{
    display: inline;
}

/*ABOUT ME, SKILLS, PROJECTS AND CONTACT*/
section#skills,section#projects,section#contact,main > section#about > section{
    margin-top: 25px;
    border-radius: 10px;
}
main > section#about > h2,section#skills > h2,section#projects > h2, section#contact > h2 {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color_main);
}

/*ABOUT ME*/
main > section#about{
    color: var(--color_ligth);
}
main > section#about > section{
    padding: 15px;
    background: var(--color_main);
    animation: pain 1.2s infinite;
}
/*SKILLS*/
main > section#skills,article#more_skills{
    background: transparent;
}
main > section#skills > section.table,article#more_skills{
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    justify-content: space-evenly;
    text-align: center;
}
main > section#skills > section.table > article,article#more_skills > article{
    animation: ligth 1.2s infinite;
    background-color: transparent;
    width: 280px;
    cursor: pointer;
}
main > section#skills > section.table > article > img,article#more_skills > article > img{
    display: block;
    margin: auto;
}
main > section#skills > section.table > article > h3,article#more_skills > article > h3{
    font-size: 20px;
    text-align: center;
}
main > section#skills > section.table > article > p,article#more_skills > article > p{
    font-family: var(--font_second);
    color: var(--color_ligth);
}
main > section#skills > section.table > article > a,article#more_skills > article > a{
    background-color: var(--color_main);
    color: var(--color_second);
    text-align: center;
}
main > section#skills > section.table > article > p,article#more_skills > article > a,article#more_skills > article > p{
    font-size: 17px;
}

/*PROJECTS*/
main > section#projects > section.table,article#more_projects{
    display: flex;
    flex-flow: row wrap;
    row-gap: 30px;
}
main > section#projects section.table >  article,article#more_projects > article{
    width: 400px;
    margin: auto;
    background: var(--color_main);
    animation: pain 1.2s infinite;
    margin-bottom: 30px;
}
main > section#projects section.table > article > h3,article#more_projects > article > h3{
    margin-bottom: 8px;
    color: var(--color_ligth);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}
main > section#projects section.table > article > img,article#more_projects > article > img{
    display: block;
    margin: auto;
    width: 95%;
    border-radius: 5px;
}
main > section#projects section.table > article > a,article#more_projects > article > a{
    text-align: center;
}