@charset "UTF-8";

:root{
    --color_main: purple;
    --color_second: #270027;
    --color_third: #180018;
    --color_fouth: #ea33f7;
    --color_ligth: #fdbcfd;
    --font_main: monospace;
    --font_second: 'Arial Narrow', Arial, sans-serif;
}

/*HEADER*/
header{
    display: flex;
    flex: row wrap;
    justify-content: space-between;
}
header > menu{
    align-self: center;
    display: block;
}
header > menu > div{
    display: none;
}
header > nav {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0px 0px 0px transparent;
    margin-right: 25px;
    background: transparent;
}
header > nav > a{
    text-transform: uppercase;
    padding: 6px 0px 0px 0px;
    transition: .5s;
    width: 100px;
    height: 35px;
    margin: 0 10px 0 0;
    border-bottom: 0;
    border-radius: 10px;
    background-color: var(--color_second);
}
header > nav > a:hover{
    color: var(--color_main);
    transform: translate(5px);
}

/*MAIN CONTENT*/
main{
    margin: auto;
    max-width: 900px;
}

/*INTRODUCION*/
main > section#introducion article#social > a > img{
    margin: 5px 0px;
    border-radius: 50%;
}
main > section#introducion  article#text > h3 {
    font-weight: bolder;
    font-size: 23px;
}
main > section#introducion > img{
    margin: 0;
}
main > section#introducion > section > a{
    padding: 17px;
    margin: 0;
    transition: .8s;
}
main > section#introducion > section > a:hover{
    transform: translate(5px);
}
main > section#introducion article#social > a > img{
    transition: .5s;
}
main > section#introducion article#social > a > img:hover{
    transform: translate(3px);
    border: 2px solid var(--color_ligth);
}

/*PROJECTS*/
main > section#projects > section.table > article{
    width: 70%;
}
main > section#projects > section.table > article > img{
    display: block;
    margin: auto;
    width: 95%;
    border-radius: 5px;
}

/*ALL LETTER*/
p.letter{
    padding: 0 5px;
}

/*DOWNLOAD*/
a#download{
    top: 90%;
    left: 90%;
}