@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_main: purple;
    --color_second: #270027;
    --color_third: #180018;
    --color_fouth: #ea33f7;
    --color_ligth: #fdbcfd;
    --font_main: monospace;
    --font_second: 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
}