@charset "UTF-8";

:root{
    --color_main: purple;
    --color_second: #270027;
    --color_third: #180018;
    --color_fouth: #ea33f7;
    --color_ligth: #fdbcfd;
    --font_main: monospace;
    --font_second: 'Arial Narrow', Arial, sans-serif;
}

header{
    padding: 10px 5px;
}

main{
    margin-top: 100px;
}
main > section#text{
    background-color: var(--color_fouth);
}