@charset "UTF-8";

:root{
    --color_main: purple;
    --color_second: #270027;
    --color_third: #180018;
    --color_fouth: #ea33f7;
    --color_ligth: #fdbcfd;
    --font_main: monospace;
    --font_second: 'Arial Narrow', Arial, sans-serif;
}

header{
    padding: 12px 5px;
}

main{
    margin: 65px 10px 10px 10px ;
}
main > h2{
    color: var(--color_ligth);
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
main > img{
    margin: auto;
    width: 300px;
}
main > section#text{
    margin: 10px 0px;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--color_main);
}
main > a{
    margin: auto;
    display: block;
    width: 100px;
    padding: 10px 5px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font_second);
    font-weight: bold;
    font-size: 17px;
    color: var(--color_ligth);
    background-color: var(--color_main);
}