@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color_main: purple;
    --color_second: #270027;
    --color_third: #180018;
    --color_fouth: #ea33f7;
    --color_ligth: #fdbcfd;
    --font_main: monospace;
    --font_second: 'Arial Narrow', Arial, sans-serif;
}

body{
    color: white;
    font-family: var(--font_main);
    background-color: var(--color_second);
}
a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0%;
    width: 100vw;
    background-color: var(--color_main);
}
header > menu{
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
header > menu > a{
    font-size: 17px;
    color: var(--color_ligth);
    text-transform: uppercase;
}
header > menu > div{
    display: block;
    padding: 5px 12px 5px 50px;
    margin-right: -15px;
}
header > menu > div > img#close{
    display: none;   
}
header > nav {
    display: none;
    flex-flow: column wrap;
    padding: 10px 0px;
    background-color: var(--color_third);
    box-shadow: 0px 5px 5px 0px var(--color_main);
}
header > nav > a{
    padding: 10px 0px 10px 5px;
    margin-left: 10px;
    font-size: 17px;
    width: 30%;
    text-align: center;
    color: var(--color_ligth);
    border-bottom: 2px solid var(--color_fouth);
}

/*HIDE AND MORE*/
main article.more_content{
    display: none;
}
main > section  div.show{
    width: 100%;
    height: 35px;
}
main  section > div.show > img{
    display: block;
    margin: auto;
}
main  section > div.show > img#hide{
    display: none;
}

/* ALL DESCRIPTION TEXT*/
p.letter{
    margin-top: 10px;
    font-family: var(--font_second);
    text-align: justify;
    font-weight: lighter;
    font-size: 18px;
    line-height: 25px;
}
/*PROJECT AND SKILLS*/
main > section#text{
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    background: var(--color_main);
    animation: pain 1.2s infinite;
}
@keyframes pain {
    0%,100%{
        box-shadow:0px 0px 20px 8px var(--color_main);
    }
    50%{
        box-shadow:0px 0px 20px 5px var(--color_main);
    }
    75%{
        box-shadow:0px 0px 20px 7px var(--color_main);
    }
}

/**/
main > section{
    background: transparent;
}
section.table > article,article#more_skills > article,article#more_projects > article{
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
}
article > a.link_section{
    margin: auto;
    display: block;
    padding: 8px 5px;
    width: 100px;
    margin-top: 5px;
    border-radius: 15px;
    color: var(--color_ligth);
    background-color: var(--color_second);
    transition: .5s;
}
article > a.link_section:hover{
    transform: translate(3px);
}

/*LIGTH*/
@keyframes  ligth{
    0%,100%{
        box-shadow: 0px 0px 10px 0px var(--color_ligth);
    }
    50%{
        box-shadow: 0px 0px 6px 0px var(--color_ligth);
    }
}

/*DOWNLOAD*/
a#download{
    display: block;
    position: fixed;
    top: 91%;
    left: 83%;
    width: 50px;height: 50px;
    border-radius: 50%;
    background-color: var(--color_second);
    box-shadow:0px 0px 20px 1px var(--color_main);
    text-align: initial;
}
a#download > img{
    transform: translate(50%,50%);
}
/*FOOTER*/
footer{
    margin-top: 35px;
    font-family: var(--font_main);
    text-align: center;
    text-transform: uppercase;
    color: var(--color_ligth);
    background-color: var(--color_main);
}
/* FOOTER CONTACT*/
footer > section#contact{
    text-align: justify;
    margin-bottom: 10px;
}
footer > section#contact > article{
    width: 90%;
    margin: auto;
}
footer > section#contact > article > div{
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
}
footer > section#contact > article > div > p{
    color: var(--color_ligth);
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font_second);
}
footer > p{
    font-size: 17px;
}